<!DOCTYPE HTML>
<html>
<head>
<a href="https://www.flaticon.com/kr/free-icons/-" title="메일링 리스트 아이콘">메일링 리스트 아이콘 제작자: Arkinasi - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="각도 아이콘">각도 아이콘 제작자: Pixelmeetup - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="견인 아이콘">견인 아이콘 제작자: Freepik - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="지우개 아이콘">지우개 아이콘 제작자: Icon Mart - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="수평 아이콘">수평 아이콘 제작자: th studio - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/-" title="수평 반전 아이콘">수평 반전 아이콘 제작자: Arkinasi - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/-" title="거꾸로 하다 아이콘">거꾸로 하다 아이콘 제작자: Google - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="길이 아이콘">길이 아이콘 제작자: JunGSa - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="확대경 아이콘">확대경 아이콘 제작자: Ayub Irawan - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/-" title="화면 회전 아이콘">화면 회전 아이콘 제작자: Icon Hubs - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="플레이 아이콘">플레이 아이콘 제작자: Freepik - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="초기화 아이콘">초기화 아이콘 제작자: Freepik - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="회전 아이콘">회전 아이콘 제작자: Afian Rochmah Afif - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/-" title="아래로 스크롤 아이콘">아래로 스크롤 아이콘 제작자: pojok d - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="바퀴 아이콘">바퀴 아이콘 제작자: Freepik - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/-" title="...을 더한 아이콘">...을 더한 아이콘 제작자: Freepik - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="축소 아이콘">축소 아이콘 제작자: Freepik - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="다음 아이콘">다음 아이콘 제작자: Smashicons - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="뒤 아이콘">뒤 아이콘 제작자: Roundicons - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="다음 아이콘">다음 아이콘 제작자: bsd - Flaticon</a>
<a href="https://www.flaticon.com/kr/free-icons/" title="방향 아이콘">방향 아이콘 제작자: Andy Horvath - Flaticon</a>
</head>
<body>
	<!-- fragments/tools.html -->
	<div th:fragment="tools-container">
	
	<!-- css -->
	<link rel="stylesheet" href="/css/imageDetail.css">
		<div class="mainToolsBox">
			<ul class="tools-container-ul">
			
				<button type="button"  onclick="location.href='/search'" class="btn btn-default">
					<img src="/img/icons/icon_workList.png" alt="workList icon" class="icon-image">
					<p>워크리스트</p>
				</button>
	
				<button id="windowLevel" type="button" class="btn btn-default">
					<img src="/img/icons/icon_windowLevel.png" alt="windowLevel icon" class="icon-image">
					<p>윈도우 레벨</p>
				</button>
				
				<button id="invert" type="button" class="btn btn-default">
					<img src="/img/icons/icon_invert.png" alt="invert icon" class="icon-image">
					<p>흑백전환</p>
				</button>
				
				<button id="drag" type="button" class="btn btn-default">
					<img src="/img/icons/icon_drag.png" alt="drag icon" class="icon-image">
					<p>이미지 드래그</p>
				</button>
				
				<button id="hFlip" type="button" class="btn btn-default">
					<img src="/img/icons/icon_hflip.png" alt="hFlip icon" class="icon-image">
					<p>수평뒤집기</p>
				</button>
				
				<button id="vFlip" type="button" class="btn btn-default">
					<img src="/img/icons/icon_vflip.png" alt="vFlip icon" class="icon-image">
					<p>수직대칭이동</p>
				</button>
				
				
				<button id="lRotate" type="button" class="btn btn-default">
					<img src="/img/icons/icon_lRotate.png" alt="lRotate icon" class="icon-image">
					<p>왼쪽 회전</p>
				</button>
				
				<button id="rRotate" type="button" class="btn btn-default">
					<img src="/img/icons/icon_rRotate.png" alt="rRotate icon" class="icon-image">
					<p>오른쪽 회전</p>
				</button>
				
				<button id="scrollRoof" type="button" class="btn btn-default">
					<img src="/img/icons/icon_scrollRoof.png" alt="scrollRoof icon" class="icon-image">
					<p>스크롤 루프</p>
				</button>
				
				<button id="scrollZoom" type="button" class="btn btn-default">
					<img src="/img/icons/icon_scrollZoom.png" alt="scrollZoom icon" class="icon-image">
					<p>스크롤 줌</p>
				</button>
				
				<button id="zoomIn" type="button" class="btn btn-default">
					<img src="/img/icons/icon_zoomIn.png" alt="zoomIn icon" class="icon-image">
					<p>확대</p>
				</button>
				
				<button id="zoomOut" type="button" class="btn btn-default">
					<img src="/img/icons/icon_zoomOut.png" alt="zoomOut icon" class="icon-image">
					<p>축소</p>
				</button>
				
				<button id="playClip" type="button" class="btn btn-default">
					<img src="/img/icons/icon_playClip.png" alt="playClip icon" class="icon-image">
					<p>플레이클립</p>
				</button>
				
				
				<button id="magnify" type="button" class="btn btn-default">
					<img src="/img/icons/icon_magnify.png" alt="magnify icon" class="icon-image">
					<p>돋보기</p>
				</button>
				
				<button class="toolBtn btn-default" id="annotateBtn">
					<img src="/img/icons/icon_anno.png" alt="anno icon" class="icon-image">
					<p>주석모음</p>
				</button>

				<div>
			  		<button id="compare" type="button" class="btn btn-default">
						<img src="/img/icons/icon_a_comparative_series.png" alt="compare icon" class="icon-image">
						<p>시리즈 비교</p>
					</button>
					<div id="gridContainer" class="dropdown-content">
					  <!-- 셀렉터 그리드가 표시될 영역 -->
					  <div class="grid-selector"></div>
					</div>
				</div>
				
				<button id="reset" type="button" class="btn btn-default">
					<img src="/img/icons/icon_reset.png" alt="reset icon" class="icon-image">
					<p>초기화</p>
				</button>
				
				<button id="download" class="btn btn-default">
					<img src="/img/icons/icon_download.png" alt="download icon" class="icon-image">
					<p>다운로드</p>
				</button>
			</ul>
		</div>
			<!-- 주석 드롭다운 -->
			<div class="annotate-dropdown-menu" id="annotateDropdown" style="display: none; position: absolute;">
				<button id="length" class="btn btn-default">
					<img src="/img/icons/icon_length.png" alt="length icon" class="icon-image">
					<p>길이 측정</p>
				</button>
			
				<button id="angle" class="btn btn-default">
					<img src="/img/icons/icon_angle.png" alt="angle icon" class="icon-image">
					<p>각도 측정</p>
				</button>
				
				<button id="arrow" class="btn btn-default">
					<img src="/img/icons/icon_arrow.png" alt="arrow icon" class="icon-image">
					<p>화살표</p>
				</button>
				
				<button id="freeHand" class="btn btn-default">
					<img src="/img/icons/icon_freeHand.png" alt="freeHand icon" class="icon-image">
					<p>프리핸즈</p>
				</button>
				
				<button id="eraser" type="button" class="btn btn-default">
					<img src="/img/icons/icon_eraser.png" alt="eraser icon" class="icon-image">
					<p>지우개</p>
				</button>
			</div>
	</div>	
</body>
</html>